#colors() {
    backgroundColorHeader: #227093;
    backgroundColor: #aaa69d;
    buttonColor: #ffda79;
    buttonColorHover: #ccae62;
    textColor: #fff;
}

#font() {
    fontFamily: Roboto, sans-serif;
}